<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaeLolfeDpj8k-D-V-aX2rg4b4TXNnaOs</string>
	<key>GCM_SENDER_ID</key>
	<string>848807869386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.auburn.onlinecsse.Assignment4App</string>
	<key>PROJECT_ID</key>
	<string>assignment4app-7b5c5</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment4app-7b5c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848807869386:ios:c31286991bb9b974ce6d33</string>
</dict>
</plist>